.env
node_modules
npm-debug.log
.git
.gitignore
/config
/config/
config/
*.sqlite
*.db
absdatabase.sqlite
/audiobooks
/audiobooks2
/media/
/metadata
dev.js
test/
/client/.nuxt/
/client/dist/
/dist/
/deploy/
